<div class="nav-side-menu">
  <div class="brand">UmeetI</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <a href="/profile/{{ user.username }}">
        <li class="active">
          <i class="fa fa-home fa-2x" style="color:#ffffff;"></i>
        </li>
      </a>
      <a href="/profile/{{ user.username }}/friends" >
        <li>
          <i class="fa fa-users fa-2x" style="color:#ffffff;"></i>
        </li>
      </a>
      <a href="/search">
        <li>
          <i class="fa fa-user-plus fa-2x" style="color:#ffffff;"></i>
        </li>
      </a>
      <a href="#">
        <li>
          <i class="fa fa-comments fa-2x" style="color:#ffffff;"></i>
        </li>
      </a>
      <a href="/logout">
        <li>
          <i class="fa fa-sign-out fa-2x" style="color:#ffffff;"></i>
        </li>
      </a>
    </ul>
  </div>
</div>
<div class="edge-header" style="background-color: #ffeb3b;"></div>
<div class="container" id="main" style="margin-top: -170px; background-color:transparent;">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 content-wrapper">
      {{#each errors}}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Oh snap!</strong> {{ this.msg }}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="well well-lg col-sm-6 col-sm-offset-3 content-wrapper">
      <h2>Edit Profile</h2>
      <form action="/profile/{{ user.username }}/edit" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="fullname">Avatar:</label><input class="btn btn-success btn-block" type="file" name="photo" />
        </div>
        
        <div class="form-group">
          <label for="facebook">Facebook:</label> <input class="form-control" name="facebook" id="facebook" type="text" value="{{ user.facebook }}">
        </div>
        <div class="form-group">
          <label for="twitter">Twitter:</label> <input class="form-control" name="twitter" id="twitter" type="text" value="{{ user.twitter }}">
        </div>
        <div class="form-group">
          <label for="linkein">LinkedIn:</label> <input class="form-control" name="linkein" id="linkein" type="text" value="{{ user.linkein }}">
        </div>
        <div class="form-group">
          <label for="email">Email:</label> <input class="form-control" name="email" id="email" type="email" value="{{ user.email }}">
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label> <input class="form-control" name="phone" id="phone" type="text" value="{{ user.phone }}">
        </div>
        <div class="form-group">
          <label for="location">Location:</label>
          <textarea name="location" class="form-control" id="location" rows="5">{{ user.location }}</textarea>
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <select name="status" class="form-control browser-default" id="sel1">
            {{#each status_arr}}
            <option value="{{ @index }}">
              {{ this.status }}
            </option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <div>
            <label for="status">Interest:</label>
          </div>
          <div class="row">
            <div class="col-sm-9">
              <select class="form-control browser-default" id="interest">
                <option disabled selected>choose interest</option>
                {{#each interest_arr}}
                <option>
                  {{ this.interest }}
                </option>
                {{/each}}
              </select>
            </div>
            <div class="col-sm-3" style="padding-top: 5px;">
              <button class="btn btn-success btn-block" onclick="addInterest()" type="button">add</button>
            </div>
          </div>
          <div class="row list-data">
            <div class="list-group">
              <div class="col-sm-12" id="listInterest">
                {{#each user.interest}}
                <li class="list-group-item" style="word-wrap: break-word;">
                  <p>{{ this }}<button type="button" class="btn btn-danger pull-right deleteButton"><i class="fa fa-times" aria-hidden="true"></i></button></p>
                  <input type="hidden" name="interest" value="{{ this }}">
                </li>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="skill">Skill:</label>
          </div>
          <div class="row">
            <div class="col-sm-9">
              <input class="form-control" id="skill" type="text">
            </div>
            <div class="col-sm-3">
              <button class="btn btn-success btn-block" onclick="addSkill()" type="button">add</button>
            </div>
          </div>
          <div class="row list-data">
            <div class="list-group">
              <div class="col-sm-12" id="listSkill">
                {{#each user.skill}}
                <li class="list-group-item" style="word-wrap: break-word;">
                  <p>{{ this }}<button type="button" class="btn btn-danger pull-right deleteButton"><i class="fa fa-times" aria-hidden="true"></i></button></p>
                  <input type="hidden" name="skill" value="{{ this }}">
                </li>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="status">Achievement:</label>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <textarea class="form-control" id="achievement" rows="5"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-success btn-block" onclick="addAchievement()" type="button"><i aria-hidden="true" class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="row list-data">
            <div class="list-group">
              <div class="col-sm-12" id="listAchievement">
                {{#each user.achievement}}
                <li class="list-group-item" style="word-wrap: break-word;">
                  <p>{{ this }}<button type="button" class="btn btn-danger pull-right deleteButton"><i class="fa fa-times" aria-hidden="true"></i></button></p>
                  <input type="hidden" name="achievement" value="{{ this }}">
                </li>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="row center-block" style="padding-top:20px; width:140px;">
          <div>
            <button class="btn btn-success btn-lg" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).on('click','.deleteButton', function() {
$(this).parent().parent().remove();
});
function addInterest() {
var value = $( "#interest" ).val();
$( "#listInterest" ).append( '<li class="list-group-item" style="word-wrap: break-word;"><p>'+value+'<button type="button" class="btn btn-danger pull-right deleteButton"><i class="fa fa-times" aria-hidden="true"><\/i><\/button></p><input type="hidden" name="interest" value="'+value+'"><\/li>' );
}
function addSkill() {
var value = $( "#skill" ).val();
if(value != ''){
$( "#listSkill" ).append( '<li class="list-group-item" style="word-wrap: break-word;"><p>'+value+'<button type="button" class="btn btn-danger pull-right deleteButton"><i class="fa fa-times" aria-hidden="true"><\/i><\/button></p><input type="hidden" name="skill" value="'+value+'"><\/li>' );
}
$( "#skill" ).val("");
}
function addAchievement() {
var value = $( "#achievement" ).val();
if(value != ''){
$( "#listAchievement" ).append( '<li class="list-group-item" style="word-wrap: break-word;"><p>'+value+'<button type="button" class="btn btn-danger pull-right deleteButton"><i class="fa fa-times" aria-hidden="true"><\/i><\/button></p><input type="hidden" name="achievement" value="'+value+'"><\/li>' );
}
$( "#achievement" ).val("");
}
</script>