<div class="nav-side-menu">
	<div class="brand">UmeetI</div>
	<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out">
			<a href="/profile/{{ user }}">
				<li>
					<i class="fa fa-home fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
			<a href="/profile/{{ user }}/friends" >
				<li class="active">
					<i class="fa fa-users fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
			<a href="#">
				<li>
					<i class="fa fa-user-plus fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
			<a href="#">
				<li>
					<i class="fa fa-comments fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
			<a href="/logout">
				<li>
					<i class="fa fa-sign-out fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
		</ul>
	</div>
</div>
<div class="container" id="main" style="">
	<div class="col-xs-12 page-title"><h2 style="padding-left: 30px;">Friends Request</h2></div>
	<div class="col-xs-10 col-xs-offset-1" style="padding-top: 30px;">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="height: 100vh;">
			<ul class="nav nav-pills nav-justified mypills">
				<li><a href="/profile/{{ user }}/friends"><b>Friend List</b></a></li>
				<li class="active"><a href="/profile/{{ user }}/request"><span class="label label-danger">{{ notif }}</span><b>Friend Request</b></a></li>
			</ul>
			{{#unless request}}
			<h3 style="text-align: center;">Oops! It seems like you don't have any friend requests</h3>
			{{/unless}}
			{{#each request}}
			<div class="row friend-list">
				<div class="well well-sm friend-list">
					<div class="row">
						<div class="col-sm-4 profile-pic panel-figure"><img  class="img-circle img-responsive" src="{{ this.requesterProfile.0.photo }}"></div>
						<div class="col-sm-8">
							<div class="text-center" style="border-bottom: 1px solid rgba(0,0,0,0.2);">
								<h3><a href="/profile/{{ this.requesterProfile.0.username }}">{{ this.requesterProfile.0.first_name }} {{ this.requesterProfile.0.last_name }}</a></h3>
							</div>
							
							<div class="text-center" style="padding-top: 10px;">
								<strong>Interest: </strong>{{ this.requesterProfile.0.interest }}<br>
								<strong>Fakultas: </strong>{{ this.requesterProfile.0.faculty}}<br>
							</div>
						</div>
					</div>
					<div class="text-center" style="padding-bottom:20px">
						<hr>
						<p><b>Message:</b></p>
						<p>{{ this.message }}</p>
					</div>
				</div>
				<div class="row friend-button-block">
					<a href="/{{ ../user }}/accept/{{ this.requesterProfile.0.username }}">
						<div class="col-xs-6 btn btn-success" style="text-align:center;">
							<p style="font-size:15px;margin-bottom:1px;">Accept</p>
						</div>
					</a>
					<a href="/{{ ../user }}/decline/{{ this.requesterProfile.0.username }}">
						<div class="col-xs-6 btn btn-danger" style="text-align:center;">
							<p style="font-size:15px;margin-bottom:1px;">Decline</p>
						</div>
					</a>
				</div>
				
			</div>
			{{/each}}
			
			
		</div>
		
	</div>
</div>