<div class="col-xs-8 col-xs-offset-2" style="padding-top: 200px;">
	<div class="well well-lg">
		<div class="md-form">
			<form method="POST" action="/login">
				<input type="text" id="username" name="username" class="form-control">
				<label for="username">Your Username</label>
				<div style="text-align: center;">
					<button type="submit" class="btn btn-success btn-md" style="margin-bottom: 6px;">Login</button>
				</div>
				
			</form>
		</div>
	</div>
</div>