{{#if isValid}}
<div class="nav-side-menu">
  <div class="brand">UmeetI</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <a href="/profile/{{ activeUser }}">
        {{#if auth}}
        <li class="active">
          <i class="fa fa-home fa-2x" style="color:#ffffff;"></i>
        </li>
        {{/if}}
        {{#unless auth}}
        <li>
          <i class="fa fa-home fa-2x" style="color:#ffffff;"></i>
        </li>
        {{/unless}}
      </a>
      <a href="/profile/{{ activeUser }}/friends" >
        {{#if auth}}
        <li>
          <i class="fa fa-users fa-2x" style="color:#ffffff;"></i>
        </li>
        {{/if}}
        {{#unless auth}}
        <li class="active">
          <i class="fa fa-users fa-2x" style="color:#ffffff;"></i>
        </li>
        {{/unless}}
      </a>
      <a href="/search">
        <li>
          <i class="fa fa-user-plus fa-2x" style="color:#ffffff;"></i>
        </li>
      </a>
      <a href="#">
        <li>
          <i class="fa fa-comments fa-2x" style="color:#ffffff;"></i>
        </li>
      </a>
      <a href="/logout">
        <li>
          <i class="fa fa-sign-out fa-2x" style="color:#ffffff;"></i>
        </li>
      </a>
    </ul>
  </div>
</div>
{{/if}}
{{#unless isValid}}
<div class="nav-side-menu">
  <div class="brand">UmeetI</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <a href="/login">
        <li>
          <i class="fa fa-sign-in fa-2x" style="color:#ffffff;"></i>
        </li>
      </a>
    </ul>
  </div>
</div>
{{/unless}}
<div class="container" id="main" style="">
  
    <div class="row parallax" style="margin: 0;">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 profileWrapper">
        <div>
          <div class="well well-sm biodata">
            <div class="row flexbox">
              <div class="col-sm-4 profile-pic col" style="padding-top: 35px;"><img alt="" style="width:150px; height:150px;" " class="img-rounded img-responsive" src="{{ user.photo }}"></div>
              <div class="col-sm-8 profile-bio col">
                <div style="border-bottom: 1px solid rgba(0,0,0,0.2); text-align: center;">
                  <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                </div>
                <div style="border-bottom: 1px solid rgba(0,0,0,0.2);text-align: center;">
                  <footer>
                    <h4>{{ user.faculty }}</h4>
                  </footer>
                </div>
                
                <div style="padding-top: 10px;">
                  <strong>Age: </strong>{{ user.age }}<br>
                  <strong>Email: </strong>{{ user.email }}<br>
                  <strong>Phone: </strong>{{ user.phone }}<br>
                  <strong>Location: </strong>{{ user.location }}<br>
                  <strong>Status: </strong>{{ status }}<br>
                </div>
                
              </div>
            </div>
          </div>
          <div class="sosmed">
            <a href="{{ user.facebook }}">
              <div class="col-xs-4" style="background-color:#3b5998;text-align:center;">
                <i aria-hidden="true" class="fa fa-facebook-official fa-3x" style="color:#ffffff;"></i>
              </div>
            </a>
            <a href="{{ user.twitter }}">
              <div class="col-xs-4" style="background-color:#1dcaff;text-align:center;">
                <i aria-hidden="true" class="fa fa-twitter fa-3x" style="color:#ffffff;"></i>
              </div>
            </a>
            <a href="{{ user.linkein }}">
              <div class="col-xs-4" style="background-color:#0077b5;text-align:center;">
                <i aria-hidden="true" class="fa fa-linkedin fa-3x" style="color:#ffffff;"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  
  <div >
    {{#if user.interest.length}}
    <div class="col-sm-10 col-sm-offset-1 interestWrapper">
      <h2><p class="text-center">Interest</p></h2>
      <div class="interest">
        <ul class="list-group">
          {{#each user.interest}}
          <li class="list-group-item" style="padding-bottom: 10px;"><p style="margin:0">{{this}}</p></li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/if}}
  </div>
  {{#if user.skill.length}}
  <div >
    <div class="col-sm-10 col-sm-offset-1 skillWrapper">
      <h2><p class="text-center">Skill</p></h2>
      
      <div class="skill">
        <ul class="list-group">
          {{#each user.skill}}
          <li class="list-group-item" style="padding-bottom: 10px;"><p style="margin:0">{{this}}</p></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if user.achievement.length}}
  <div >
    <div class="col-sm-10 col-sm-offset-1 achievementsWrapper">
      <h2><p class="text-center">Achievements</p></h2>
      <div class="achievements">
        <ul class="list-group">
          {{#each user.achievement}}
          <li class="list-group-item" style="padding-bottom: 0;"><p style="margin:0" >{{this}}<p></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if auth}}
  <div >
    <div class="center-block" style="width:190px;padding-top: 50px;padding-bottom: 50px;">
      <a href="/profile/{{ user.username }}/edit" class="btn btn-success btn-lg"><span>Edit Profile</span></a>
    </div>
  </div>
  {{/if}}
</div>