<div class="nav-side-menu">
	<div class="brand">UmeetI</div>
	<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out">
			<a href="/profile/{{ activeUser }}">
				<li>
					<i class="fa fa-home fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
			<a href="/profile/{{ activeUser }}/friends" >
				<li>
					<i class="fa fa-users fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
			<a href="/search">
				<li class="active">
					<i class="fa fa-user-plus fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
			<a href="#">
				<li>
					<i class="fa fa-comments fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
			<a href="/logout">
				<li>
					<i class="fa fa-sign-out fa-2x" style="color:#ffffff;"></i>
				</li>
			</a>
		</ul>
	</div>
</div>
<div class="container" id="main" style="height: 100vh;">
	<div class="col-xs-12 page-title">
		<h2 style="padding-left: 30px;">Add Friends</h2>
	</div>
	<div class="col-xs-12" style="padding-top: 30px;">
		<div class="well well-lg col-sm-8 col-sm-offset-2 content-wrapper">
			<form id="myform" action="search" method="POST">
				<div class="form-group">
					<div>
						<label for="interest">Interest:</label>
					</div>
					<select class="form-control" name="interest" id="interest">
						<option selected>All</option>
						{{#each interest_arr}}
						<option>
							{{ this.interest }}
						</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="Fakultas">Faculty:</label>
					<select name="faculty" class="form-control" id="faculty">
						<option selected>All</option>
						{{#each faculty_arr}}
						<option>
							{{ this.facName }}
						</option>
						{{/each}}
					</select>
				</div>
				<div class="row center-block" style="padding-top:20px; width:140px;">
					<div>
						<button class="btn btn-success btn-lg" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-xs-10 col-xs-offset-1 search-result">
		{{#if user}}
		<div  class="col-xs-12 col-xs-offset-1">
			<h2>Results</h2>
		</div>
		{{/if}}
		{{#each user}}
		<div class="col-sm-10 col-sm-offset-1 col-xs-12" style="padding:0;">
			<div class="well well-sm friend-list">
				<div class="row">
					<div class="col-sm-4 profile-pic panel-figure"><img  class="img-circle img-responsive" src={{ this.photo }}></div>
					<div class="col-sm-8">
						<div class="text-center" style="border-bottom: 1px solid rgba(0,0,0,0.2);">
							<h3><a href="https://twitter.com/maridlcrmn">{{ this.first_name }} {{this.last_name}}</a></h3>
						</div>
						<div class="text-center" style="padding-top: 10px;">
							<strong>Interest: </strong>{{ this.interest }}<br>
							<strong>Fakultas: </strong>{{ this.faculty }}<br>
							<strong>Status:</strong>{{#each this.status}}{{this.status}}{{/each}}<br>
						</div>
					</div>
				</div>
			</div>
			<div class="row friend-button-block">
				<a href="/profile/{{ this.username }}">
					<div class="col-xs-6 btn btn-primary" style="text-align:center;">
						<i class="fa fa-user-circle-o fa-5x" style="color:#ffffff;" aria-hidden="true"></i>
					</div>
				</a>
				<div class="col-xs-6" style="padding: 0; text-align:center;">
					<button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#user{{ @index }}">
					<i class="fa fa-plus fa-5x" style="color:#ffffff;" aria-hidden="true"></i>
					</button>
				</div>

			</div>
			<div>
				<!-- Modal -->
				<div class="modal fade" id="user{{ @index }}" tabindex="-1" role="dialog" aria-labelledby="user{{ @index }}Label" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<!--Content-->
						<div class="modal-content">
							<!--Header-->
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title w-100" id="user{{ @index }}Label">Add {{ this.first_name }} {{this.last_name}}</h4>
							</div>
							
							<form action="/requestFriend" method="POST" >
								<!--Body-->
								<div class="modal-body">
									<input type="hidden" name="sender" value="{{../activeUser}}" placeholder="">
									<input type="hidden" name="target" value="{{ this.username }}" placeholder="">
									<label for="message">Message:</label>
									<textarea name="message"></textarea>
								</div>
								<div class="flex-center modal-footer">
									<button type="submit" class="btn btn-success btn-lg"> Send </button>
								</div>
							</form>
						</div>
						<!--/.Content-->
					</div>
				</div>
				<!-- /.Live preview-->
			</div>
		</div>
		{{/each}}
	</div>
</div>
