body {
    font-family: font-family: 'Roboto', sans-serif;
    
}
h2,h3,h4,h5,h6{
    font-weight: 700;
}
.btn{
    padding: 5px;
}

.mypills {
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-control{
    padding-top: 0;
    padding-bottom: 0;
}
.list-group-item {
    padding: 10px 20px 20px;

}
#main {
    padding: 0px;
   
}
.container {
    overflow: auto;
    height: 100%;
    /*background-color:#073642;*/
    
    background-color: #efefef;
    color: #3d4451;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
.biodata {
    margin: 0px;
}
.profile-pic{
    height: 100%;
    
}
.profile-pic img {
    width: 180px;
    height: 180px;
    padding:10px; 
    margin: auto;
    
}
.list-data{
    padding-top: 10px;
}

.profileWrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
.profileWrapper .well {
    min-height: 200px;
    padding-bottom: 50px;
    color: #000000;
}
.profileWrapper,
.interestWrapper,
.skillWrapper,
.achievementsWrapper {
    
}
.well {
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.biodata {
    padding: 5px !important;
}
.nav-side-menu {
    
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #094554;
    
    
    /*background-color:#000000;*/
    
    position: fixed;
    top: 0px;
    width: 75px;
    height: 100%;
    color: #e1ffff;
   /* color:#ffffff;*/
}
.nav-side-menu .brand {
    /*background-color: #23282e;*/
    border-bottom: 1px solid #23282e;
    background-color: #094554;
    line-height: 50px;
    display: block;
    text-align: center;
    font-family: "Pacifico",Helvetica;
    color: #fff;
    font-size: 20px;
    font-weight: 700;

}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu i {
    padding: 20px;
    padding-left: 20px;
    padding-right: 30px;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}
.nav-side-menu ul:not(collapsed) .arrow:before,
.nav-side-menu li:not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 5px solid #d19b3d;
    background-color: #094554;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #f37021;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a i {
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    /*border-left: 3px solid #ffc107;*/
    
    border-left: 3px solid #f37021;
    /*background-color: #f37021;*/
    
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 0;
        
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }

    .content-wrapper, .profileWrapper, .interestWrapper , .skillWrapper, .achievementsWrapper {
        max-width: 75%;
        position: relative;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .profile-pic img{
        margin-left: auto;
        margin-right: auto;
    }

    .profile-bio {
        margin-left: 5%;
    }

    #listInterest, #listSkill, #listAchievement {
        padding: 0;
    }

    .panel-figure img{
        width:80px;
        height: 80px;
    }


}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
    
    #main {
        width: calc(100% - 75px);
        float: right;
    }
}
.deleteButton {
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}
body {
    margin: 0px;
    padding: 0px;
}
.parallax {
    min-height: 100%;
    background-color: #ffeb3b;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#t-cards {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #345;    
}

/********************************/
/*          Panel cards         */
/********************************/
.panel.panel-card {
    position: relative;
    height: 241px;
    border: none;
    overflow: hidden;
}
.panel.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 120px;
    border-bottom-color: #fff;
    overflow: hidden;
    
    -webkit-transition: height 600ms ease-in-out;
            transition: height 600ms ease-in-out;
}
.panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}
.panel.panel-card .panel-heading button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;
}
.panel.panel-card .panel-figure {
    position: absolute;
    top: auto;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #fff;
            box-shadow: 0 0 0 3px #fff;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}

.panel.panel-card .panel-body {
    padding-top: 40px;
    padding-bottom: 20px;

    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
} 

.panel.panel-card .panel-thumbnails {
    padding: 0 15px 20px;
}
.panel-thumbnails .thumbnail {
    width: 60px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
} 


.panel.panel-card:hover .panel-heading {
    height: 55px;
    
    -webkit-transition: height 400ms ease-in-out;
            transition: height 400ms ease-in-out;
}
.panel.panel-card:hover .panel-figure {
    opacity: 0;
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}
.panel.panel-card:hover .panel-body {
    padding-top: 20px;
    
    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
}

.friend-list{
    padding: 0;
   margin-bottom: 0;

   /*max-height: 300px;
   max-width: 500px;*/
   
}
.friend-list .profile-pic img{
    height: 120px;
    width: 120px;
}
.friend-button-block{
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom:25px;
  
   
}
.friend-button-block .btn{
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}
.page-title{
    background-color: #FFFFFF; 

}
